<h1>Home page</h1>
<iframe
  src="https://player.cloudinary.com/embed/?public_id=SPRING_xkhuaa&cloud_name=daaxwngzv&player[seekThumbnails]=true"
  width="320"
  height="180"
  style="height: auto; aspect-ratio: 640 / 360;"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen
  frameborder="0"
></iframe>
<iframe
  src="https://player.cloudinary.com/embed/?public_id=Autumn_2_nlcxsn&cloud_name=daaxwngzv&player[seekThumbnails]=true"
  width="320"
  height="180"
  style="height: auto; width: 100%; aspect-ratio: 640 / 360;"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen
  frameborder="0"
></iframe>

<iframe
  src="https://player.cloudinary.com/embed/?public_id=Winter_3__idlpln&cloud_name=daaxwngzv&player[seekThumbnails]=true"
  width="320"
  height="180"
  style="height: auto; width: 100%; aspect-ratio: 640 / 360;"
  allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
  allowfullscreen
  frameborder="0"
></iframe>
